*.pyc
*.[Rr][Dd]ata
*.[Rr]history
*.pro
*.png
auto/
EddyUH/
Lotte/
Wickstrom/
miller_jotech2008/
flux_[0-9]*.cfg
motion.m
/build
/dist
MANIFEST
venv/
*.csv
*.xls*
*.sav
/pCO2/UNESCO_1983.pdf
/Radiation/*.pdf
