*.pyc
*.[Rr][Dd]ata
*.[Rr]history
auto/
Lotte/
Wickstrom/
EddyUH/
miller_jotech2008/
flux_[0-9]*.cfg
motion.m
/build
/dist
MANIFEST
venv/
*.csv
*.xls*
/pCO2/UNESCO_1983.pdf
/Radiation/*.pdf
/pCO2/bulkTemplate.sav
/pCO2/bulk_averaging_AN14.pro
/pCO2/pCO2_processing_*.pro
/pCO2/pCO2_AN11_rev2.pro
/pCO2/pCO2_AN13.pro
