*.pyc
*.[Rr][Dd]ata
*.[Rr]history
*.pro
*.png
!/motion_correction_flowchart.png
*.html
*.pdf
*.csv
*.xls*
*.sav
*.egg-info/
README.rst
auto/
EddyCovariance/
Scripts/*.m
flux_[0-9]*.cfg
motion.m
/build
/dist
MANIFEST
venv/
